<div>
    <section>
        <div class="image-contact-container" fxLayoutAlign.lt-md="center center">
            <div class="shadow-mask">
                <div>
                    <h2 class="mobile-component-title">CONTACT US</h2>
                </div>  
            </div>
        </div>
    </section>
    <section>
        <div fxLayoutAlign.lt-md="center center" fxLayout.lt-md="column" class="form-container">  
            <div>
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select>
                      <mat-option value="one">Model</mat-option>
                      <mat-option value="two">Seeking Employment</mat-option>
                      <mat-option value="three">Agency</mat-option>
                      <mat-option value="four">Brand</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>First Name*</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Last Name*</mat-label>
                    <input matInput placeholder="Enter your username">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Email*</mat-label>
                    <input matInput placeholder="Enter your username">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Enter your username">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Website</mat-label>
                    <input matInput placeholder="Enter your username">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <textarea matInput placeholder="Your Message*"></textarea>
                  </mat-form-field>
            </div>
            <div>
                <button class="contact-button" mat-raised-button>Contact OnlyNeoFans</button>
            </div>
        </div>
    </section>
</div>
