<div>
    <!-- Home Intro-->
    <section class="image-container" fxLayout="row" fxLayoutAlign="center center">
        <div class="home-container">
            <div>
                <p class="home-subtitle">An OnlyFans Agency where your dreams come true</p>
            </div>
            <div>
                <h2 class="home-title">Be of the 0,1% OnlyFans Model</h2>
            </div>
            <div class="button-container">
                <button class="home-button" mat-raised-button (click)="redirectContactUs()">Contact Us</button>
            </div>
        </div>
    </section>
    <!-- Home End-->
    <!-- Management && Benefits Intro -->
    <section class="management-benefit-container">
        <div class="image-container-management" data-aos="zoom-in" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.lt-md="40px">
            <div>
                <h2 class="home-title" style="color:#29100D !important;">Services</h2>
            </div>
            <!-- Button redirect Management Benefits -->
            <div fxLayout="column" fxLayoutGap="30px" class="cards-services-container">
                <div data-aos="fade-right" class="image-container2">
                    <h2 class="home-title text-over">Management</h2>
                    <img src="/assets/background-mobile2.jpg" style="width: 100%; height: 220px; border-radius: 8px 8px 0 0;">
                    <button class="stroked-button" mat-stroked-button (click)="redirectManagement()">View
                        Management</button>
                </div>
                <div data-aos="fade-left" class="image-container2">
                    <h2 class="home-title text-over">Benefits</h2>
                    <img src="/assets/background-mobile.png" style="width: 100%; height: 220px; border-radius: 5px;">
                    <button class="stroked-button" mat-stroked-button (click)="redirectBenefits()">View
                        Benefits</button>
                </div>
                <div id="about"></div>
            </div>
        </div>
    </section>
     <!-- Management && Benefits End -->
    <!-- About -->
    <section class="succes-stories-container">
        <div class="image-container-about" data-aos="zoom-in">
            <div class="container-text" fxLayoutAlign.lt-md="end center" fxLayout.lt-md="column" fxLayoutGap.lt-md="40px">
                <div>
                    <h2 class="home-title">ABOUT</h2>
                </div>
                <div data-aos="fade-right">
                    <p class="home-subtitle" style="color: #FFFFFF !important;">We are a united team with important areas good covered</p>
                </div>
                <div data-aos="fade-right">
                    <p class="home-subtitle" style="color: #FFFFFF !important;">-Some of the most profitable chatters in the industry</p>
                </div>
                <div data-aos="fade-right">
                    <p class="home-subtitle" style="color: #FFFFFF !important;">-A serius and professional marketing and sales team </p>
                </div>
                <div data-aos="fade-right">
                    <p class="home-subtitle" style="color: #FFFFFF !important;">-Team focussed in Data science that makes a big difference in making important desitions</p>
                </div>
                <div data-aos="fade-right">
                    <p class="home-subtitle" style="color: #FFFFFF !important;">But, we are not only professionals, also we are people who has concerns in moral values, we believe in care and respect, efficiency,  honesty, transparency and we’ll do everything we can to respect the agency values in all the aspects of working. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
</div>