<div>
    <section class="benefits-container">
        <div>
            <div class="image-benefits-container" fxLayoutAlign.lt-md="center center">
                <div class="shadow-mask">
                    <div>
                        <h2 class="mobile-component-title">BENEFITS</h2>
                    </div>
                </div>
            </div>
            <div class="benefits-cards-container" fxLayoutGap.lt-md="20px" fxLayout.lt-md="column">
                <div>
                    <h2 class="mobile-component-title" style="color: black; text-align: center;">We management your account in several aspects to be the 0,1% model</h2>
                </div>
                <mat-card class="example-card" *ngFor="let benefit of benefits" data-aos="zoom-in">
                    <mat-card-header fxLayoutAlign.lt-md="start center">
                        <img mat-card-image src="{{ benefit.img }}" style="width: 100%; height: 220px;">
                    </mat-card-header>
                    <mat-card-content>
                      <p class="management-card-text">{{ benefit.text }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
</div>
